/* Add your variable customizations of theme here */

$buttonPadding: .4rem .6rem;

$inputPadding: .4rem .6rem;

$tableHeaderCellPadding: .4rem .4rem;
$tableBodyCellPadding: .4rem .4rem;
$tableFooterPadding: .4rem .4rem;
$paginatorPadding: .2rem .2rem;

$buttonIconOnlyWidth:2.357rem;
$buttonIconOnlyPadding:.4rem 0;