label {
    font-weight: 600;
    //font: Inter;
    font-size: 14px;
    line-height: 22.4px;
}

.home-image-background {
    width: 100vw; /* Largura 100% da tela */
    height: 35vh; /* Altura igual à altura da viewport */
    background-image: url('./../../../assets/images/solucoes/3.jpg');
    background-size: cover; /* Cobre toda a área, mantendo a proporção */
    background-position: center; /* Centraliza a imagem */
}

.grid {
    margin-right: 0;
}