<div class="animate__animated animate__fadeIn">    
    <div class="home-image-background"></div>
    
    <div class="grid" style="margin-top: 60px;">
        <div class="col-12 md:col-2 lg:col-2 md:col-offset-1 lg:col-offset-1" style="text-align: end; font-weight: bolder;">
            <!-- <label>WHAT WE BELIEVE</label> -->
             <p>WHAT WE </p>
             <p>BELIEVE</p>
        </div>

        <div class="col-12 md:col-5 lg:col-5 md:col-offset-1 lg:col-offset-1" style="text-align: justify; hyphens: auto;">                
            <p>We believe in smiles. Happiness in the face of our and your guests, are the true kind of expression that all people in the area is enjoying what they are tasting.</p>
            <br>
            <p>Queremos que você aproveite o seu dia, sendo leve e tudo nos conformes como tenha imaginado, sem ter nenhuma preocupação com a infraestutura e experiências que você deseja causar em seus convidados.</p>
            <br>
            <p>Você é o Anfitrião. Nós cuidamos da casa. Muito prazer, nós somos Instage!</p>
            <br>
        </div>
    </div>
</div>


