<div class="animate__animated animate__fadeIn">
    <div class="home-image-background"></div>

    <div class="grid" style="padding: 12px 20px; margin-top: 30px;">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="grid">
                <div *ngFor="let artista of artistas_array" class="col-12 md:col-4 lg:col-4">
                    <div class="container" style="display: flex; justify-content: center; align-items: center; text-align: center; width: 80%; margin: 0 auto;">
                        <img src={{artista.foto}} alt="Avatar" style="width: 100%; height: 100%; overflow: hidden;">
                        <a href="/artistas/{{artista.id}}">
                            <div class="overlay">
                                <div class="text"><h3>{{artista.nome}}</h3></div>
                            </div>                        
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="fading-6"
    style="width: 350px; height: 350px; text-align: center; margin-bottom: 15px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
    <img src={{artista.foto}} alt="Avatar" style="width: 100%; height: 100%; overflow: hidden;">
</div> -->

<!-- <div class="col-12 md:col-12 lg:col-12" class="container">
                    <a href="/artistas/{{artista.id}}">
                        <div class="overlay">
                            <div class="text"><h3>{{artista.nome}}</h3></div>
                        </div>
                    </a>
                </div> -->