.container {
    position: relative;
}

// .image {
//     display: block;
//     width: 100%;
//     height: auto;
//     text-align: center;
// }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(162, 105, 201, 0.5);
    //background-color: #008CBA;
}


.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-image-background {
    //width: 100vw; /* Largura 100% da tela */
    height: 35vh; /* Altura igual à altura da viewport */
    /* background-image: url('./../../../assets/images/solucoes/3.jpg'); */
    background: #2D0C34;
    background-size: cover; /* Cobre toda a área, mantendo a proporção */
    background-position: center; /* Centraliza a imagem */
}

.grid {
    margin-right: 0;
}

.fading-6 {
    background: 
       linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent 30% 70%, rgba(0, 0, 0, 0.5)) 
       center/300% 100% no-repeat;
    transition: 0.5s;
  }
  .fading-6:hover {
    background-size: 100% 100%;
  }