* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.topbar {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1000;
  font-family: 'play',sans-serif;
  --color1: #FFF;
  --color2: #181818;
}

.nav-bar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
}

.logo img {
  width: 250px;
  height: 50px;
}

.menu {display: flex;}
.menu li { padding-left: 30px; }

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}

.menu li a:hover::after {width: 100%;}
.open-menu, .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {display: none;}

@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10000;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }

  .menu li {margin-top: 40px;}
  .menu li a { padding: 10px; }
  .open-menu, .close-menu {display: block;}
  #check:checked ~ .menu {left: 0;}  
}

.nav-bar-mobile {
  justify-content: center;
}

.nav-bar-not-mobile {
  justify-content: space-between;
}

.nav-bar-transparent{
  width: 100%;
  height: 80px;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: transparent; //rgba(51, 51, 51, 0.9);
  transition: background-color 0.5s;
  padding: 12px 20px;
}

.nav-bar-not-transparent{
  width: 100%;
  height: 80px;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2); //rgba(51, 51, 51, 0.9);
  transition: background-color 0.5s;
  padding: 12px 20px;
}