<div class="topbar">
    <nav>
        <ul [ngClass]="{ 
        'nav-bar-not-transparent': isScrolled, 
        'nav-bar-transparent': !isScrolled, 
        'nav-bar-mobile': isMobile, 
        'nav-bar-not-mobile': !isMobile }">
            
            <label for="check" class="open-menu"><i class="fa fa-bars"></i></label>
            <li class="logo">
                <a href=""> 
                    <img src="assets/images/png/logo_transparent.png" alt="logo"> 
                </a>
            </li>

            <input type="checkbox" id="check">

            <span class="menu">
                <ng-container *ngFor="let item of items">
                    <li><a href="{{item.route}}">{{item.label}}</a></li>
                </ng-container>
                <label for="check" class="close-menu"><i class="fa fa-times"></i></label>
            </span>
        </ul>
    </nav>
</div>