$bodyBgColor:#ffffff;
$topbarLeftBgColor:#163E90;
$topbarRightBgColor:#163E90;
$topbarIconHoverBgColor:rgba(255,255,255,.1);
$topbarTextColor:#f0f6fc;
$sidebarBorderColor:#d6d7d9;
$footerBgColor:#163E90;
$statsTopBorderColor:#163E90;
$teamContentHoverBorderColor:#163E90;

$sidebarBgColor:#ffffff;
$sidebarMenuitemTextColor:#163E90;
$sidebarMenuitemDividerColor:#e4e2e0;
$sidebarMenuitemIconColor:#191622;
$sidebarMenuitemHoverBgColor:#f1f1f1;
$sidebarMenuitemActiveBorderLeftColor:#191622;
$sidebarMenuitemActiveTextColor:#191622;
$sidebarMenuitemActiveIconColor:#191622;

$darkSidebarBgColor:#163E90;
$darkSidebarMenuitemTextColor:#f0f6fc;
$darkSidebarMenuitemDividerColor:rgba(255,255,255,.075);
$darkSidebarMenuitemIconColor:#f0f6fc;
$darkSidebarMenuitemHoverBgColor:rgba(255,255,255,.1);
$darkSidebarMenuItemHoverTextColor:#f0f6fc;
$darkSidebarMenuitemActiveBorderLeftColor:#f0f6fc;
$darkSidebarMenuitemActiveTextColor:#f0f6fc;
$darkSidebarMenuitemActiveIconColor:#f0f6fc;

$gradientSidebarTopBgColor:#163E90;
$gradientSidebarBottomBgColor:#f0f6fc;
$gradientSidebarMenuitemTextColor:#f0f6fc;
$gradientSidebarMenuitemDividerColor:rgba(255,255,255,.075);
$gradientSidebarMenuitemIconColor:#f0f6fc;
$gradientSidebarMenuitemHoverBgColor:rgba(255,255,255,.1);
$gradientSidebarMenuItemHoverTextColor:#f0f6fc;
$gradientSidebarMenuitemActiveBorderLeftColor:#f0f6fc;
$gradientSidebarMenuitemActiveTextColor:#f0f6fc;
$gradientSidebarMenuitemActiveIconColor:#f0f6fc;

$megamenuButtonTextColor:#f0f6fc;
$megamenuBgColor:#f0f6fc;
$megamenuBorderColor:#d6d7d9;
$megamenuTextColor:#5b616a;
$megamenuHeaderColor:#163E90;
$megamenuIconColor:#5b616a;
$megamenuHoverBgColor:#f1f1f1;
$megamenuActiveTextColor:#f0f6fc;
$megamenuMobileBgColor:#f0f6fc;
$megamenuMobileHoverBgColor:#f0f6fc;

$darkMegamenuBgColor:#163E90;
$darkMegamenuTextColor:#f0f6fc;
$darkMegamenuHeaderShadowColor:#000000;
$darkMegamenuIconColor:#f0f6fc;
$darkMegamenuHoverBgColor:rgba(255,255,255,.1);
$darkMegamenuHoverTextColor:#f0f6fc;

$gradientMegamenuTopBgColor:#163E90;
$gradientMegamenuBottomBgColor:#f0f6fc;

@import '../../sass/layout/_layout';
